.bg-grey{
    color: white;
    background-color: var(--gesis-color-grey-60);
}

.bg-grey10{
    color: white;
    background-color: var(--gesis-color-grey-10);
}

.bg-grey10:hover{
    color: white;
    background-color: var(--gesis-color-grey-5);
}

.listing-title {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.listing-title:hover {
    color: white;
    text-decoration: underline var(--gesis-color-orange);
}