/* User defined style */

/*
Example for Microsoft Office Word 2007 (DOCX)

DOCX custom styles are annotated into data-custom-style.
*/
[data-custom-style="gesis_orange"],
[data-custom-style="gesis_orange Char"] {
    color: #FF6100;
}

/* make the navbar black because of logo
.navbar {
    background: #ADD8E6;
}
*/

.methods_hub_nav_teaser img {
    width: 100%;
    display: block;
    max-height: calc(100% * 2 / 3);
}




