/* User defined style */

/*
Example for Microsoft Office Word 2007 (DOCX)

DOCX custom styles are annotated into data-custom-style.
*/
[data-custom-style="gesis_orange"],
[data-custom-style="gesis_orange Char"] {
    color: #FF6100;
}

/* make the navbar black because of logo
.navbar {
    background: #0a0c0d;
}
*/
.navbar {
    background: #ADD8E6;
}


